.main-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .grid-container {
        width: 80%;
        height: 1300px;
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-auto-rows: repeat(100, 1fr);
        color: none;
        .grid-cell {
            border: 0.05px solid #e8e7e7;
            &.wall {
                background-color: red;
            }
            &.start{
                background-color: #401BF7;
            }
            &.finish{
                background-color: #29253A;
            }
        }
    }
}
